@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');


#tituloNoticias{
    font-family: 'DynaPuff', cursive;
    font-size: 3rem;
    text-align: center;
}

.container {
  width: 100%;
  overflow: hidden;
}

.slider-container {
  width: 100%;
  display: flex;
}

.contenido {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
}

.contenido {
  background: #332863;
  color: #fff;
}

.contenido {
  background: #611a68;
}

.contenido > img {
  position: relative;
  width: 50rem;
}

.contenido > div {
  width: 40%;
}

.contenido h3 {
  font-size: 300;
  text-align: justify;
  line-height: 30px;
}

.contenido a {
  color: #fff;
  background: #332863;
  width: 100px;
  display: block;
  padding: 15px 0;
  text-align: center;
  border-radius: 3px;
  margin-top: 20px;
  text-decoration: none;
}

.contenido:nth-child(2) a {
  background: #fff;
  color: #332863;
}

@media screen and (max-width: 900px) {
  .contenido > img {
    width: 250px;
  }

  .contenido > div {
    width: 40%;
  }

  .contenido h2 {
    font-size: 23px;
  }
}

@media screen and (max-width: 600px) {
  .contenido {
    flex-direction: column-reverse;
  }
  .contenido > div {
    width: 80%;
  }
}
